.main-container{
    display: flex;
    flex-direction: column;
    background-color: black;
}

.sub-container1{
    display: flex;
    flex-direction:column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-items: center;  
  
}


.image-back{
   
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    height: 100vh;
    width: 100%; 
    top:25vw; 
    align-items: center;
    background-size: cover;
  
}
.inner-image-back{
    height: 100vh;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3{  
    margin-top: 350px;
    font-weight: bolder;
    text-transform:uppercase;
    font-size: 1.2vw;
    color: rgb(255, 255, 255);
}

.title{
    margin-top: 20px;
    width: 500px;
    text-align: center;
    font-size: 1vw;
    color:rgb(255, 255, 255);
    font-weight: 900;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
   
}
.cards{
    border: none;
    position: absolute;
    top: 700px;
    display: flex;
    gap: 30px;
    margin-top:40px ;
    overflow: hidden;
    z-index: 7;
   
}


.sub-container2{
    margin-top: 400px;
    
    display: flex;
    flex-direction: column;
    height: 700px;
    align-items: center;
 
}
.sub-container2 {
    color:red;
    font-size: 15px;
}

.grid-view{
    margin-top: 30px;
    height: 40vw;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2px;  
}

.grid-container{
    
    display: flex;
    flex-direction: row;
    height: 250px;
    width:400px;
    justify-content: center;
    padding-bottom:40px ;
}
.grid-image{
    margin-right: 10px;
    margin-top: 10px ;
    height:50px;
    width: 50px;
    border-radius: 50%;
}
.grid-text{
    color: white;
    
    padding-top: 30px;
}
.grid-innertext{
    margin-top: 30px;
    color: white;
    font-size: 15px;
    word-spacing: 3px;
    line-height: 30px;
    
}
.grid-h1{
    font-size: 25px;
    font-weight: bolder;
}

.sub-container3{
    display: flex;
    justify-content: center;
    background-color: black;
    align-items: center;
    height: 800px;
    border-radius: 30px;
}

.sub-container3-image{
    margin-left: 100px;
    height: 550px;
    width:500px;
    object-fit: contain;
}

.sub-container3-text{
     margin-left:150px ;
    
     width: 400px;
   
}
.container3-innertext{
    font-weight: 900;
    color: rgb(224, 224, 224);
    line-height: 55px;
}
.inner-para{
    margin-top: 25px;
    line-height: 30px;
    font-size: 18px;
    color: rgb(224,224,224);
}

.sub-container4{
    height: 700px;
    background-color: #0e1118;
  
    display: flex;
    flex-direction: column;
    
}
.innercontainer41{
    display: flex;
    gap:10px;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    width: 80%;
    align-self: center;


}
.quoted-img{
    margin-bottom: 50px;
    height: 30px;
    width: 30px;

}
.user41{
    
    margin-top: 30px;
    display: flex;
    gap:20px;
    color: white;
}
.sub-innercontainer41{
    line-height: 40px;
    width:45%;
    height: 400px;
    font-weight: bolder;
    color: white;
   
    
}
.innercontainer42{
   
    height: 150px;
    display: flex;
    justify-content:space-evenly ;
    align-items: center;

}
.sub-innercontainer42{
    width: 300px;
}

.user42{
    align-items: center;
    display: flex;
    gap: 30px;
}


