@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&family=Ubuntu:wght@300&display=swap');
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 900;


}
.container{
    width:100%;
    margin: auto;
    background: transparent;


  
    }

.flex{
    display:  flex;
    justify-content: space-between;
}


ul{
    list-style: none;
}
a{
    text-decoration: none;
}

header{
    padding: 20px 0;
    background:transparent;
   
}

header ul{
    display: inline-block;
}

header ul li{

    display: inline-block;
    margin-left :30px ;
    margin-top: 15px;
    
}
.logo{
    width: 200px;
    margin-right: 40px;
}
.image{
    
    width:150px;
    height: 25px;
    margin-top: 20px;
   
}

header ul li a{
    margin-top: 10px;
    font-weight: 900;
    transition: 0.5s;
    color:white;
   
}

header ul li a:hover{
    color: rgb(27, 206, 255);
    font-weight: 500;
}

.HeaderIcon{
    margin-left: 20px;
    margin-top:10px;
    transition: 0.5s;
}

.HeaderIcon:hover{
    color:  rgb(27, 206, 255);

}

.nvabar-items-icon{
    display: none;

}
header.active{
    position: sticky;
    top:0;
    left: 0;
    background-color: black;
    box-shadow: 0 2px 28px 0 rgba(0 0 0 0.6);
    width: 100%;
    z-index: 10;
}

@media screen and (max-width: 768px){
    header .icon{
        display:none
    }
    .nav-link{
        display: none;
    }

    .nav-links-bar{
        position: absolute;
        display: block;
        background-color: black;
        top:90px;
        left: 75px;
        transition: 0.5s;
        width: 100%;
        height:30vh;
        z-index:5;
    }

    .nav-links-bar{
        display: flex;
        flex-direction: column;
        margin-bottom: 30px;
      
        
    }

    header ul li{
        margin-bottom: 60px;
    }

    .nvabar-items-icon{
        display: block;
        position: absolute;
        right:30px;
        top: 30px;
        color: #fff;

    }
    .btn{
        margin-right:30px;
    }
  

   .HeaderIcon{

       margin: 1px;
       
   }
}

.btn{
    width: 15%;
    height: 55px;
    outline: none;
    border: none;
    background-color:rgb(66, 19, 251);
    border-radius: 10px;
    color:  white;
    margin-top: 15px;
    transition: transform 0.5s;
  
}
.btn:hover{
  
    background-image: linear-gradient(to right,rgb(66, 19, 251), rgb(27, 206, 255));
    color: white;
}
